{
	"useTabs": true,
	"singleQuote": false,
	"trailingComma": "all",
	"printWidth": 80,
	"tabWidth": 4,
	"semi": true,
	"importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
	"plugins": ["@ianvs/prettier-plugin-sort-imports"],
	"overrides": [
		{
			"files": "*.ts",
			"options": {
				"parser": "typescript"
			}
		}
	]
}
